<h1> How to get in contact </h1>
    <p>
      ring 01306 885502, or email, or write to: 

      The Friends of Box Hill Association, 
      c/o the National Trust, Warren Farm Barn, 
      Headley Lane, Mickleham, Dorking, RH5 6DG.
    </p>

