<h1> Box Hill </h1>
  <p>
    <%= image_tag("rails.png", :alt => "lalalala", :class => "round")%>     
Box Hill is one of the best known features in the North Downs. Only 20 miles from the centre of London, it is a haven of natural beauty with more than a million visitors every year. Those numbers mean that special care is necessary to protect its many rare species of flora and fauna. The Friends of Box Hill is an independent association, affiliated to the Campaign to Protect Rural England. It is made up of people who love the Hill, and keep a close watch on everything that affects it.

The association advises the National Trust on the conservation of the Hill and supports its work. We are particularly concerned with the improvement of the amenities of the Hill and educating the public in its unique ecology. With this in mind, we have produced a number of publications including a map of the Hill and the Box Hill Books of Bats, Box, Bugs, Butterflies, Geology & Orchids - full of information and beautiful pictures.
  </p>
